.dashboard{
    ion-card{
        width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        background: transparent !important;
        cursor: pointer;
        padding: 4rem 2rem 2.5rem 2rem !important;
        color: #ffffff;
        -webkit-box-box-shadow: 0 0 rem(29) 0 rgba(59, 59, 97, 0.14);
        -moz-box-box-shadow: 0 0 rem(29) 0 rgba(59, 59, 97, 0.14);
        -ms-box-box-shadow: 0 0 rem(29) 0 rgba(59, 59, 97, 0.14);
        -o-box-box-shadow: 0 0 rem(29) 0 rgba(59, 59, 97, 0.14);
        box-shadow: 0 0 rem(29) 0 rgba(59, 59, 97, 0.14);

        ion-card-content{
            padding: 0 !important;

            i{
                font-size:rem(40);
                display: block;
                margin-bottom: 1.5rem !important;
                margin-top: -1rem !important;
            }
        }
    }
    
    ion-card.btn-create-claim{
        border-radius: 0.8125rem;
        background-image: -ms-linear-gradient(top, #7069FF 0%, #698AFF 100%) !important;
        background-image: -moz-linear-gradient(top, #7069FF 0%, #698AFF 100%) !important;
        background-image: -o-linear-gradient(top, #7069FF 0%, #698AFF 100%) !important;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7069FF), color-stop(100, #698AFF)) !important;
        background-image: -webkit-linear-gradient(top, #7069FF 0%, #698AFF 100%) !important;
        background-image: linear-gradient(to bottom, #7069FF 0%, #698AFF 100%) !important;
    }

    ion-card.btn-search {
        border-radius: 0.8125rem;
        background-image: -ms-linear-gradient(top, #F8969C 0%, #fbbb98 100%) !important;
        background-image: -moz-linear-gradient(top, #F8969C 0%, #fbbb98 100%) !important;
        background-image: -o-linear-gradient(top, #F8969C 0%, #fbbb98 100%) !important;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8969C), color-stop(100, #fbbb98)) !important;
        background-image: -webkit-linear-gradient(top, #F8969C 0%, #fbbb98 100%) !important;
        background-image: linear-gradient(to bottom, #F8969C 0%, #fbbb98 100%) !important;
    }

    h6{
        color: #312857;
        margin-top: 0 !important;
    }
    .item-md h2 {
    font-weight: 600;
     color: #5b6268;
}

.item-ios h2 {
font-weight: 600;
     color: #5b6268;
}
    .recent-claims{
        ion-item{
            border: none !important;
            margin-bottom: rem(22) !important;
            box-shadow: 0 0 rem(29) 0 rgba(59, 59, 97, 0.14);

            .item-inner{
                border: none !important;

                i{
                    margin-right: 0.5rem;
                }
                span.status{
                    font-size: rem(28);
                    color: #7d8388;
                }

                span.amound{
                    color: #25c7b2;
                    font-size: rem(30);
                }

                span.currency{
                    color: #a6b3bd;
                    font-size: rem(25);
                }
            }
        }
    }
}

 .platform-android .item-md h2 {
    margin-top: 8px !important;
}