[class^="status-"], [class*=" status-"] {
    position: relative;
    speak: none;
    width: 1rem;
    height: 1rem;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    
    &::after{
        content: '';
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: gray;
        position: absolute;
        left:0;
        top:0;
    }
  }

$status-icon: () !default;
$status-icon: map-merge((
  "Submitted":           #1abbf0,
  "Closed":              #41c353,
  "Draft":               #ffd100,
  "Open":                #ff335a

), $status-icon);

@mixin generate-status-icon($status-icon) {
    @each $key, $value in $status-icon {
        .status-#{$key} {
            &::after { background-color: #{$value}; background-color: #{$value};}
        }
    }
}
  
@include generate-status-icon($status-icon);
