ion-modal {
	ion-backdrop {
	  visibility: visible;
	  background: #000 !important;
	}

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    width: 90vw;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }
}
